<div class="col-md-12" ng-controller="registerInstitutionalCtrl as vm">

  <h2 class="register-title-content">Dados institucionais</h2>

  <div class="col-md-12 text-muted register-form-content">

    <form  class="form">

      <div class="col-md-4">
        <div class="form-group">
        <label for="publico-alvo">Público-alvo</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="nome-fantasia">Proposta</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="razao-social">Objetivos</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="ano-fundacao">Atividades</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
      </div>


      <div class="col-md-12">
        <button type="button" class="btn btn-default btn-lg pull-left" ng-click="vm.stateGoPrevious();">Anterior</button>
        <button type="submit" class="btn btn-primary btn-lg pull-right" ng-click="">Finaliza cadastro</button>
      </div>

    </form>

  </div>




</div>