<div class="col-md-12" ng-controller="registerEssentialTwoCtrl as vm">

  <h2 class="register-title-content">Essenciais</h2>

  <div class="col-md-12 text-muted" id="register-content-step-2">

    <form  class="form">

      <div class="col-md-4">
        <div class="form-group">
          <label for="nome-fantasia">Nome fantasia <i class="text-danger" title="Campo obrigatório">*</i></label>
          <input type="text" class="form-control" id="nome-fantasia" required>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="razao-social">Razão Social <i class="text-danger" title="Campo obrigatório">*</i></label>
          <input type="text" class="form-control" id="razao-social" required>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="ano-fundacao">Ano de fundação</label>
          <input type="number" class="form-control" id="ano-fundacao">
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <h4>Endereço</h4>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group input-group">
          <input type="text" class="form-control" id="cep" placeholder="CEP" required>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search" id="btn-cep-search"></i></button>
          </span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" id="logradouro" placeholder="Logradouro" required>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <input type="number" class="form-control" id="numero" placeholder="Nº" required>
        </div>
      </div>

      <div class="col-md-12">
        <button type="button" class="btn btn-default btn-lg pull-left" ui-sref="register-essential-one" ng-click="">Anterior</button>
        <button type="submit" class="btn btn-primary btn-lg pull-right" ng-click="">Próximo</button>
      </div>

    </form>

  </div>




</div>