<form novalidate name="form" class="form">
    <div class="modal-header">        
        <span class="pull-right close" aria-hidden="true"
          ng-click="modal.cancel()">&times;</span>
        <h3 class="modal-title">Cadastre sua Entidade Social</h3>
    </div>
    <div class="modal-body">
        <h4>Dados do responsável</h4><br/>
        <div ng-messages="form.name.$error" ng-if="form.name.$touched || vm.error">
            <div ng-messages-include="templates/instucional/register-modal/validate/name.html"></div>
        </div>
        <div ng-messages="form.email.$error" ng-if="form.email.$touched || vm.error">
            <div ng-messages-include="templates/instucional/register-modal/validate/email.html"></div>
        </div>
        <div ng-messages="form.password.$error" ng-if="form.password.$touched || vm.error">
            <div ng-messages-include="templates/instucional/register-modal/validate/passowrd.html"></div>
        </div>
        
        <div class="form-group">
            <label for="name" class="control-label">Nome</label>
            <input type="text" class="form-control" name="name" id="name"
                ng-class="{'input-invalid': form.name.$touched && form.name.$invalid}"
                ng-model="cad.name"
                ng-minlength="6"
                ng-maxlength="100"
                placeholder="" 
                required
                plac>
        </div>
        <div class="form-group">
            <label for="email" class="control-label">Email</label>
            <input type="email" class="form-control" name="email" id="email"
                ng-class="{'input-invalid': form.email.$touched && form.email.$invalid}"
                ng-model="cad.email" 
                ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'
                required>
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Senha</label>
            <input type="password" class="form-control" id="password" name="password"
              ng-class="{'input-invalid': form.password.$touched && form.password.$invalid}"
              ng-model="cad.password"
              ng-minlength="6"
              ng-maxlength="100"
              required>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default"
        ng-click="modal.cancel()">Cancelar</button>
        <button type="submit" class="btn btn-primary"
          ng-click="form.$valid ? modal.sendRegister(cad) : vm.showError(true)"
          ng-show="form.$valid"
          >Cadastrar</button>
    </div>
</form>