<div class="modal-header">
    <span class="pull-right close" aria-hidden="true"
    ng-click="modal.cancel()">&times;</span>
    <h3 class="modal-title">Divulgue</h3>
</div>
<div class="modal-body">
    <h4>Conteúdo modal</h4><br/>
    <p>Botões de compartilhamento das redes sociais, botão de envio para o whatsapp e botão de envio p/ e-mail. Típico esse exemplo do botão <a href="http://ongbookprototipo.hol.es/#apoie" target="_blank">Divulgue</a>.</p>
    <!-- Conteudo modal -->
</div>
<div class="modal-footer">
    <!-- <button type="button" class="btn btn-default"
    ng-click="modal.cancel()">Cancelar</button>
    <button type="submit" class="btn btn-primary"
    ng-click="form.$valid ? modal.sendRegister(cad) : vm.showError(true)"
    ng-show="form.$valid"
    >Cadastrar</button> -->
</div>