@CHARSET "ISO-8859-1";
body,header,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
  padding: 0;
  margin: 0;
}


.input-invalid {
  border-color: red;
}

.input-valid {
  border-color: green;
}

#register-social-entity{
  background: linear-gradient(180deg, #105596 30%, white 80%, #000 100%);
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.rounded{
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 5px;
  padding: 1px 20px 20px 20px;
}

.register-title-content{
  margin-top: 20px;
}

#register-content-step-1{
  padding: 60px 0 30px 0;
}

#input-area-atuacao{
  margin-top: 30px
}

#atuation-area-input{
  padding: 20px 0 0 0;
}

.register-form-content{
  padding: 40px 0 30px 0;
}

#entity-address-register{
  margin-top: 10px;
}

#btn-cep-search{
  font-size: 17px;
}

#register-upload-img{
  background-color: #f7f7f7;
  padding: 12px 0 12px 0;
  width: 146px;
  max-width: 146px;
  min-width: 146px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 4px 4px 3px 3px;
}

#icone-upload-img{
  font-size: 30px;
  margin-bottom: 5px;
}

#btn-choose-file{
  width: 146px;
  max-width: 146px;
  min-width: 146px;
  margin: 0 auto;

}

#btn-register-content-1{
  margin-top: 50px;
}

.btn-register-content-2{
  margin-top: 10px;
}

/* nav-bar-home-institutional *************************************/
#institutional-navbar {
  background-color: #43607d;
  border-color: #2d4052;
}
#institutional-navbar .navbar-brand {
  color: #f7fbff;
}
#institutional-navbar .navbar-brand:hover,
#institutional-navbar .navbar-brand:focus {
  color: #9cb0c4;
}
#institutional-navbar .navbar-text {
  color: #f7fbff;
}
#institutional-navbar .navbar-nav > li > a {
  color: #f7fbff;
}
#institutional-navbar .navbar-nav > li > a:hover,
#institutional-navbar .navbar-nav > li > a:focus {
  color: #9cb0c4;
}
#institutional-navbar .navbar-nav > .active > a,
#institutional-navbar .navbar-nav > .active > a:hover,
#institutional-navbar .navbar-nav > .active > a:focus {
  color: #9cb0c4;
  background-color: #2d4052;
}
#institutional-navbar .navbar-nav > .open > a,
#institutional-navbar .navbar-nav > .open > a:hover,
#institutional-navbar .navbar-nav > .open > a:focus {
  color: #9cb0c4;
  background-color: #2d4052;
}
#institutional-navbar .navbar-toggle {
  border-color: #2d4052;
}
#institutional-navbar .navbar-toggle:hover,
#institutional-navbar .navbar-toggle:focus {
  background-color: #2d4052;
}
#institutional-navbar .navbar-toggle .icon-bar {
  background-color: #f7fbff;
}
#institutional-navbar .navbar-collapse,
#institutional-navbar .navbar-form {
  border-color: #f7fbff;
}
#institutional-navbar .navbar-link {
  color: #f7fbff;
}
#institutional-navbar .navbar-link:hover {
  color: #9cb0c4;
}
@media (max-width: 767px) {
  #institutional-navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #f7fbff;
  }
  #institutional-navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  #institutional-navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #9cb0c4;
  }
  #institutional-navbar .navbar-nav .open .dropdown-menu > .active > a,
  #institutional-navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  #institutional-navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #9cb0c4;
    background-color: #2d4052;
  }
}

.navbar-brand img{
  margin-top: -10px;
  height: 58px;
}

#title-ongbook {
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #f19c14 !important;
  padding-left: 0px !important;
}

.navbar-login
{
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session
{
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.icon-size
{
  font-size: 87px;
}

#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,1);
}
#login-dp .help-block{
  font-size:12px
}
#login-dp .bottom{
  background-color:rgba(255,255,255,1);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .social-buttons{
  margin:12px 0
}
#login-dp .social-buttons a{
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}

.btn-fb{
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc
}
.btn-tw{
  color: #fff;
  background-color:#55acee;
}
.btn-tw:hover{
  color: #fff;
  background-color:#59b5fa;
}

#lk-signup{
  cursor: pointer;
}
/* End nav-bar-home-institutional **********************************/


/* #section0 - maps ***********************************************/
#section0 #map-container{
  height:100%;
}

#section0 ng-map {
  width: 100%;
  height:100%;
  position: absolute;
}

#section0 .over-map {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 10;
  text-shadow: 2px 2px 10px black;
  background: rgba(0, 0, 0, 0.3);
}

#section0 .over-map .container {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#section0 .over-map .container h1 {
  font-size: 5em;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 600;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#section0 .over-map .container h2 {
  font-size: 1.9em;
  max-width: 700px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 40px;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #2c3e50;
  line-height: 1.3em;
}

#btn-know-now {
  margin-top: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: wheat;
  font-size: large;
  background-color: #2c3e50;
  border-color: #2c3e50;
  padding: 12px 30px;
}

#btn-know-now:hover{
  color: wheat;
  background-color: #1a242f;
  border-color: #161f29;
}
/* End #section0 - maps ******************************************/


/* #section1 - what **********************************************/
#section1 #video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: contain;
  object-fit: inherit;
  z-index: 3;
}

#section1 video::-webkit-media-controls {
  display: none !important;
}

#section1 #layer-over-video {
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 4;
  width: 100%;
  height: 100%;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#section1 h1 {
  margin-bottom: 2%;
  margin-top: 80px;
  text-align: center;
}

#section1 h4 {
  line-height: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}

#section1 h2 {
  margin-bottom: 3%;
  text-align: center;
}

#section1 h3 {
  margin-bottom: 4%;
  text-align: center;
}

#section1 .panel-bg-video {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: transparent;
}

#section1 .panel-queremos {
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 256px;
  height: 100%;
}

#section1 ul {
  margin-left: 30px;
  line-height: 1.8;
}

#section1 #bq-drucker {
  margin-right: 16px;
  margin-top: 16px;
  padding: 8px 10px;
  border-color: rgba(255, 255, 255, 0.2);
}

#section1 #bq-drucker h5{
  line-height: 2.5;
}

#section1 .fa-play-circle-o {
  position: absolute;
  color: rgba(22, 34, 45, 0.8);
  bottom: 6%;
  left: -30px;
  margin-left: 50%;
  cursor: pointer;
}

#section1 .fa-play-circle-o:hover {
  color: rgba(241, 156, 20, 0.6);
}
/* End #section1 - what **********************************************/


/* End #section2 - signup-owner-entity ******************************/
#section2 {
  background-color: lightgreen;
}
#section2 h1 {
  margin-bottom: 50px;
  text-align: center;
}
#section2 h5 {
  text-align: center;
  margin-bottom: 10px;
}
#section2 #btn-cadastre {
  margin-bottom: 40px;
}
/* End #section2 - signup-owner-entity *****************************/


/* #section3 - support *********************************************/
#section3 h1 {
  margin-bottom: 2%;
  text-align: center;
}

#section3 h3 {
  margin-bottom: 7%;
  text-align: center;
}

#section3 p {
  text-align: center;
  margin-bottom: 5px;
}

#section3 .icons-apoie {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#img-modal-support{
  width: 100%;
  margin-bottom: 20px;
}

#blockquote-support{
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
}

#blockquote-support p{
  margin: 0 0 10px;
}
/* End #section3 - support *****************************************/


/* End #section4 - partners ****************************************/
#section4 {
  background-color: lightblue;
}

#section4 h1 {
  margin-bottom: 3%;
  text-align: center;
}

#section4 h1 {
  margin-bottom: 3%;
  text-align: center;
}

#section4 h2 {
  text-align: center;
}

#section4 h4 {
  text-align: center;
}

#section4 p {
  text-align: center;
}

#section4 .panel-parceiros {
  background-color: rgba(255, 255, 255, 0.2);
}

#section4 .panel-parceiros .logo-parceiros {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#section4 #org-members {
  margin-top: 2%;
}

#section4 #msg-agradecimento {
  line-height: 1.7em;
}
/* End #section4 - partners ****************************************/


/* #section5 - footer **********************************************/
.footer-top {
  background-color: #16222d;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.footer-top i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-top i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-top p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-top p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-top p a {
  color: #5383d3;
  text-decoration: none;
}

.footer-top .fmap {
  margin-top: 70px;
}
/* End #section5 - footer ****************************************/


/* login page ****************************************************/
#background-login {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}

.card-container.card {
  max-width: 350px;
  padding: 40px 40px;
}

.card {
  background-color: #F7F7F7;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#profile-img-card {
  margin: 0 auto;
  display: block;
}

/* Form styles */
.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}

.reauth-email {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
  direction: ltr;
  height: 44px;
  font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  border-color: rgb(104, 145, 162);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn-signin {
  /*background-color: #4d90fe; */
  background-color: rgb(104, 145, 162);
  /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

.btn-signin:hover,
.btn-signin:active,
.btn-signin:focus {
  background-color: rgb(12, 97, 33);
}

.forgot-password {
  color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
  color: rgb(12, 97, 33);
}
/* End login page **********************************************/

#logo-dashboard {
  height: 200%;
}









/*
body{
  background-image: url('../img/bg.jpg');
  background-size:cover;
}

header{
  margin: 0px;
  padding: 0px;
}
app-header{
  margin: 0px;
  padding: 0px;
}


.content{
  margin-top: 100px;
  margin-bottom:100px;
}

.rounded{
  background-color: white;
  border-radius: 5px;
  padding: 8px;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.25);
}

.sidebarBtn{
  text-align:center;
  padding:10px;
}
.sidebarBtn .fa{
  font-size: 2.5em;
  margin: 10px;
}
.sidebar{
  font-weight: 600;
}
.sidebar a{
  color: #9C9C9C;
}
.sidebar a:hover{
  text-decoration: none;
  color: #43607d;
  text-shadow: 0px 0px 6px rgba(0,0,0,0.25);
}

.img-modal-apoie {
  width: 100%;
  margin-bottom: 20px;
}

#like-box-face {
  width: 100%;
  height: 214px;
  margin: 0 auto;
  border: none;
  overflow: hidden;
}

#content-modal {
  height: 230px;
}

*/