<div id="wrapper">
  <navbar-dashboard></navbar-dashboard>
	<div id="page-wrapper">
	  <div class="row">
	      <div class="col-lg-12">
	          <h1 class="page-header">Entidade Cadastrada</h1>
	      </div>
	  </div>
	  <div class="row">
			<form novalidate class="form-group" name="form">
				<div class="col-md-3">
					<input type="text" class="form-control"
					ng-model="cad.entitie.name"
					>
				</div>
				<div class="col-md-3">
					<input type="text" class="form-control"
					ng-model="cad.entitie.areaServed">
				</div>
				<div class="col-md-3">
					<input type="text" class="form-control"
					ng-model="cad.entitie.cep">
				</div>
				<div class="col-md-3">
					<button class="btn btn-primary" name="edit" style="width: 200px"
						ng-model="edit">
							<span>
								Editar Informações
							</span>
					</button>
				</div>
			</form>
		</div>
		<div class="row col-md-12" style="padding:16px 16px 16px 16px">
			<ng-map center="[-14.18650192, -51.89766873]" zoom="4" default-style="false"></ng-map>
		</div>
	</div>
</div>
