<!-- <form novalidate name="form" class="form"> -->
  <div class="modal-header">
    <span class="pull-right close" aria-hidden="true"
    ng-click="modal.cancel()">&times;</span>
    <h3 class="modal-title">Como gostaria de contribuir?</h3>
  </div>
  <div class="modal-body">
    <p>Independente de quem seja e da área que atue, sua participação é fundamental.</p><br>
    <div class="form-group">
      <label for="nome-parceiro" class="control-label">Nome</label>
      <input type="text" class="form-control" id="nome-parceiro">
    </div>
    <div class="form-group">
      <label for="email-parceiro" class="control-label">Email</label>
      <input type="email" class="form-control" id="email-parceiro">
    </div>
    <div class="form-group">
      <label for="assunto-parceiro" class="control-label">Assunto</label>
      <input type="text" class="form-control" id="assunto-parceiro">
    </div>
    <div class="form-group">
      <label for="msg-parceiro" class="control-label">Mensagem</label>
      <textarea class="form-control" rows="3" id="msg-parceiro"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="modal.cancel()">Cancelar</button>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
<!-- </form> -->