<div id="register-social-entity">
  <div class="container">
    <div class="col-md-12 rounded">
      <div class="page-header">
        <h1>Cadastro <small>Entidade Social</small></h1>
      </div>

      <div class="col-md-12">
  			<h2 class="register-title-content">Dados essenciais</h2>
		<div ng-messages="form.cnpj.$error" ng-if="form.cnpj.$touched || vm.error">
           	<div ng-messages-include="templates/register-social-entity/form-essential-one/validate/cnpj.html"></div>
        </div>
        <div ng-messages="form.occupation.$error" ng-if="form.occupation.$touched || vm.error">
            <div ng-messages-include="templates/register-social-entity/form-essential-one/validate/occupation.html"></div>
        </div>
				<div class="col-md-6 col-md-offset-3" id="register-content-step-1">
				  <form novalidate name="form">
				      <div class="row">
				        <div class="col-lg-12">
				          <div class="input-group input-group-lg">
				            <input type="number" class="form-control" name="cnpj" placeholder="CNPJ" 
				            	ng-model="cad.cnpj"
				            	ng-class="{'input-invalid': form.cnpj.$touched && form.cnpj.$invalid}"
				            	required>
				            <span class="input-group-addon"><i class="fa fa-building"></i></span>
				          </div>
				        </div>
				      </div>

				      <div class="row">
				        <div class="col-md-10 col-md-offset-1" id="input-area-atuacao">
				          <div class="form-group form-group-lg">
				            <input type="text" class="form-control" name="occupation" placeholder="Área de atuação" 
				            	ng-model="cad.occupation"
				            	ng-class="{'input-invalid': form.occupation.$touched && form.occupation.$invalid}"
				            	required>
				            	
				          </div>
				        </div>
				      </div>

				      <div class="col-md-4 col-md-offset-4">
				        <p class="text-center">
				          <button type="submit" class="btn btn-primary btn-lg" id="btn-register-content-1"
										ng-click="form.$valid ? vm.nextStep(cad) : vm.showError(true)">
										Próximo
								</button>
				        </p>
				      </div>
				  </form>
				</div>		    
			</div>
    </div>
  </div>
</div>
